:host {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  width: 50%;
}

@media (min-width: 600px) {
  img {
    width: 40%;
  }
}

@media (min-width: 1280px) {
  img {
    width: 30%;
  }
}
