<div *ngIf="product">
  <div>
    <img [src]="product.image" alt="Imagen de {{ product.title }}">
  </div>
  <div>
    <ul>
      <li>Nombre: {{ product.title }}</li>
      <li>Precio: {{ product.price | currency }}</li>
    </ul>
    <p>{{ product.description }}</p>
  </div>
  <button (click)="createProduct()">Crear producto</button>
  <button (click)="updateProduct()">Actualizar producto</button>
  <button (click)="deleteProduct()">Eliminar producto</button>
</div>
