<input type="text" [(ngModel)]="title">

{{ title }}

<input type="text" [(ngModel)]="power">

{{ power | exponential }}

<div *ngIf="title === 'Eduardo'">
  Ese es Eduardo
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'Eduardo'">Ese es Eduardo</p>
  <p *ngSwitchCase="'José'">Ese es José</p>
  <p *ngSwitchCase="'Luís'">Ese es Luís</p>
  <p *ngSwitchDefault>No hay match</p>
</div>

<button (click)="addItem()">Add item</button>

<ul>
  <li *ngIf="items.length === 0">La lista está vacía</li>
  <li *ngFor="let item of items; index as i">
    {{ item }} {{ i }}
    <button (click)="deleteItem(i)">delete</button>
  </li>
</ul>
