<mat-card>
  <mat-card-header>
    <mat-card-title>{{ product.title | uppercase }}</mat-card-title>
    <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
  </mat-card-header>
  <div class="crop-image">
    <img [src]="product.image" [alt]="product.title">
  </div>
  <mat-card-content>
    <p>{{ product.description | slice:0:10 }}</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button [routerLink]="['/products', product.id]">Ver detalle</a>
    <button (click)="addCart()" mat-raised-button color="primary">Agregar al carrito</button>
  </mat-card-actions>
</mat-card>

<!--<h3 appHighlight>{{ product.title | uppercase }}</h3>
<img [src]="product.image" [alt]="product.title">
<strong>{{ product.price | currency }}</strong>
<p>{{ product.description | slice:0:10 }}</p>
<p>{{ today | date: 'HH:mm' }}</p>-->
