@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);

footer {
  padding: 50px 0;
  margin-top: 20px;
  background-color: mat-color($primary);

  .box {
    h3 {
      color: white;
    }

    input {
      color: white;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 10px 0;

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
